body{
    background:linear-gradient(to left, rgba(19, 255, 255, 0.867),rgba(0, 58, 62, 0.133));
}

#botonInicio .btn{
    display: flex;
    margin-bottom: auto;
    margin-top:auto;
    margin-left: auto;
    margin-right: auto;
    width: 120px;
    height: 50px;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    
}



#botonInicio{
    width: 100%;
    height: 915px;
    text-align: center;
    display: flex;
}